# Ignore model checkpoints
*.pth

# Ignore wandb logs
wandb/

# Ignore cache
__pycache__/
*.pyc

# Ignore zip files
*.zip

# Ignore large / extra scripts (optional but recommended)
final_pipeline.py
object_detect.py
plot_activations.py
visual.py
train_segmentation_only.py
black_box.py
multitask.py

# Ignore PDFs / instructions
*.pdf
INSTRUCTIONS.txt

# Ignore dataset contents inside data/
data/images/
data/annotations/
data/test_images/
data/annotations.tar.gz
data/images.tar.gz